# LaTeX compilation files
*.bbl
*.nav
*.pdf
*.snm
*.gz
*.aux
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.vrb
.synctex
*.synctex.gz

# Project files
build/
html/
latex/
output/
temp/

# Python virtual environment
.venv/

# macOS
.DS_Store

query_result.json

report.synctex(busy)
presentation.synctex(busy)
