# LaTeX compile files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.gz
*.xml

# Temporary files
*.swp
*.bak
*~

# pdf
*.pdf

/build
/html
/latex

# Mac OS
.DS_Store