name: C/C++ CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev libjsoncpp-dev libcgal-dev nlohmann-json3-dev

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -DCGAL_DATA_DIR=/usr/local/opt/cgal -DCPR_DIR=/usr/local/opt/cpr
        
    - name: Build
      run: |
        cd build
        make

    - name: Test
      run: |
        cd build
        ctest --output-on-failure